.fuente{
    font-family:'Metal Mania', cursive; 
    text-align: center;
}
.color1{
    background-color: #17A589;
}
.color2{
    background-color: #2e86c1;
}
.colorboton{
    background-color: rgb(182, 20, 20);
}
.color3{
    background-color: black;
}